html, body {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
	font-family: "Source Sans Pro","Source Sans Pro","Source Sans Pro","Open Sans",Verdana,Geneva,sans-serif,sans-serif !important;

}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hidden {
	display: none !important;
}

#container {
    padding-bottom: 300px;
}

._block {
    margin: 20px 40px 60px 40px;
}

._wrapper {
    margin-bottom: 20px;
}

._row {
    display: flex;
}

._row > * {
    display: inline-block;
    flex: 1;
}

._horizontalSpacer {
    width: 20px;
    flex: none;
}

._verticalSpacer {
    height: 20px;
    flex: none;
}

._block {
    margin: 20px 40px 60px 40px;
}

._block h3 {
    font-weight: 700;
    font-size: 1.5em;
    text-transform: none;
    line-height: 1.38em;
    color: #000;
    margin-top: 1.5em;
    margin-bottom: .5em;
}

._block p {
    margin-bottom: 1.41575em;
    font-size: 1em;
    line-height: 1.6em !important;
    color: #313533;
    display: block;
}

._block ._warning {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 16px;
    max-width: 600px;
}

._block ul {
    margin: 1em 0;
    padding: 0 0 0 1em;
    color: #313533;
    padding-left: 1em;
    list-style: disc outside none;
    margin-left: 25px;
}

._block ul li {
    margin-bottom: 0.70788em;
    list-style-type: disc;
}

._block pre {
    margin: 0 0 1em 0;
    color: #313533;
    font-size: 1em;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.4em;
}

._block textarea {
    min-height: 7em;
    margin-bottom: 20px;
    position: relative;
    line-height: 25px;
    font-size: 14px;
    transition: none;
    border: 1px solid #D1D5D3;
    border-radius: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    box-sizing: border-box;
    padding: 5px 12px;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #4CAF50;
    word-wrap: break-word;
    outline: none;
    max-width: 600px;
    font-family: "Courier New", Courier, monospace;
}

._block button {
    border: 1px solid #d5cccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #fff;
    color: #333;
    display: block;
    background-image: linear-gradient(#f4f4f4,#dbd4d4);
    padding: 7px 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fefefe;
    background-clip: padding-box;
    font-size: 0.8125em;
    width: 220px;
    height: 40px;
    background-color: lightgray;
}





.spacer {
	display: block;
	height: 30px;
	padding: 0;
}


.bp {
	margin: 20px 40px 60px 40px;
}

.bp h3 {
	font-weight: 700;
    font-size: 1.5em;
    text-transform: none;
    line-height: 1.38em;
    color: #000;
    margin-top: 1.5em;
    margin-bottom: .5em;
}

.bp p {
	margin-bottom: 1.41575em;
    font-size: 1em;
    line-height: 1.6em !important;
    color: #313533;
    display: block;
}

.bp ul {
    margin: 1em 0;
    padding: 0 0 0 1em;
    color: #313533;
    padding-left: 1em;
    list-style: disc outside none;
	margin-left: 25px;

}

.bp  ul li {
	margin-bottom: 0.70788em;
    list-style-type: disc;
}

.code {
	margin: 20px 40px 60px 40px;
}

.code h3 {
	font-weight: 700;
    font-size: 1.5em;
    text-transform: none;
    line-height: 1.38em;
    color: #000;
    margin-top: 1.5em;
    margin-bottom: .5em;
}

.code p {
	margin-bottom: 1.41575em;
    font-size: 1em;
    line-height: 1.6em !important;
    color: #313533;
    display: block;
}

.code pre {
	margin: 1em 0;
    color: #313533;
    font-size: 1em;
    white-space: pre-wrap;
    word-wrap: break-word;
	line-height: 1.4em;
}
.code textarea {
	min-height: 7em;
    z-index: auto;
    position: relative;
    line-height: 22.4px;
    font-size: 16px;
    transition: none;
    background: transparent !important;
    border: 1px solid #D1D5D3;
    border-radius: 0;
    box-shadow: 0 1px 0 0 rgba(255,255,255,0.6), inset 0 0 3px 0 rgba(0,0,0,0.1);
    box-sizing: border-box;
    font: normal 1em "Source Sans Pro","Open Sans",Verdana,Geneva,sans-serif,sans-serif;
    height: 35px;
    padding: 5px 12px;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
}
.code button {
    border: 1px solid #d5cccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #fff;
    color: #333;
    display: block;
    background-image: linear-gradient(#f4f4f4,#dbd4d4);
    padding: 7px 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fefefe;
    background-clip: padding-box;
    font-size: 0.8125em;
    width: 220px;
    height: 40px;
    background-color: lightgray;
}

.code div {
	padding: 10px 0;
}

.inputWrapper textarea {
	display: inline-block;
}

.inputWrapper div {
	display: inline-block;
	padding: 0 0 0 20px;
}




.outputWrapper {
    box-shadow: 0px 6px 8px -6px #00000026;
    display: block;
    padding: 10px 5px;
}

.outputWrapperError {
    box-shadow: 0px 6px 8px -6px #fb00ffbd;
    display: block;
    padding: 10px 5px;
}

.outputWrapper .loc {
    font-weight: bold;
}


#debug-toggle {
    position: fixed;
    right: 4px;
    top: 4px;
    padding: 10px 15px;
    font-size: 14px;
    background: #41b5c3;
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    cursor: pointer;
}
#debug-toggle:hover {
    opacity: 0.8;
}
#debug-toggle.active {
    background: #9a41c3;
}
